/* src/css/confetti.css */
.confetti-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  animation: fadeOut 2.5s forwards;
  pointer-events: none;
  z-index: 9999;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}