.puzzle{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-family: "Graduate", sans-serif;
  }
  
  .level1{
    font-size: 2em;
    border: 1px black solid;
    border-radius: 10px;
    padding: 0.3em;
    margin-bottom: 1.2em;
  }
  
  .number {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 2rem;
    width: 100%; 
  }
  
  .number div{
    background: #ccc;
    width: 3em;
    height: 3em;
    font-size: 2em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }